version: "3.9"
services:
  nextjs:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    volumes:
      - .:/app:cached  # optional, for dev hot reload
    command: bun run start

